{% extends "base.html" %}
{% block content %}
<div class="article">
  <div class="article-title">{{ article.title }}</div>
  <div class="article-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
  </div>
  <div class="article-content">{{ article.content }}</div>
  <div class="article-footer">
    <p>Please get in touch (mail @ this domain) with any
    comments, corrections or suggestions.</p>
  </div>
  </section>
{% endblock %}
