{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}
<p>Welcome to the website of <a href="/about.html">James W. Hanlon</a>. Here
you'll find notes on subjects of interest and projects I've been working on, as
well as various archived documents and talks, and some information about me.</p>
<hr>
<p>Browse:
<a href="/categories.html">by catergory</a>,
<a href="/tags.html">by tag</a>.
<div class="container-fluid">
  <div class="row">
    <div class="col-md article-list">
    {% for article in articles %}
      {{ macros.render_article_item(article) }}
    {% endfor %}
  </div>
</div>
<br>
</p>
{% endblock content %}
