{%- macro imagenothumb(filename, caption=None, alt=None) %}
{% if caption != None %}
  {% if alt == None %}
    {% set alt = caption %}
  {% endif %}
<figure>
  <img src="{{filename|image}}" alt="{{alt}}">
  <figcaption>{{caption}}</figcaption>
</figure>
{% else %}
  {% if alt == None %}
    {% set alt = 'No alt text' %}
  {% endif %}
<div class="text-center">
  <img src="{{filename|image}}" alt="{{alt}}">
</div>
{% endif %}
{% endmacro %}

{%- macro image(filename, size='600x600', caption=None, alt=None) %}
{% if caption != None %}
  {% if alt == None %}
    {% set alt = caption %}
  {% endif %}
<figure>
  <a href="{{filename|asset}}" class="glightbox" data-gallery="all">
    <img class="thumbnail" src="/{{filename|thumbnail(size)}}" alt="{{alt}}">
  </a>
  <figcaption>{{caption}}</figcaption>
</figure>
{% else %}
  {% if alt == None %}
    {% set alt = 'No alt text' %}
  {% endif %}
<div class="text-center">
  <a href="{{filename|asset}}" class="glightbox" data-gallery="all">
    <img class="thumbnail" src="/{{filename|thumbnail(size)}}" alt="{{alt}}">
  </a>
</div>
{% endif %}
{% endmacro %}

{%- macro pair_layout(left, right, caption=None) %}
{% if caption != None %}
<figure>
{% endif %}
<div class="row align-items-center">
  <div class="col">
  {{left}}
  </div>
  <div class="col">
  {{right}}
  </div>
</div>
{% if caption != None %}
<figcaption>{{caption}}</figcaption>
</figure>
{% endif %}
{% endmacro %}

{%- macro triple_layout(left, middle, right, caption=None) %}
{% if caption != None %}
<figure>
{% endif %}
<div class="row align-items-center">
  <div class="col">
  {{left}}
  </div>
  <div class="col">
  {{middle}}
  </div>
  <div class="col">
  {{right}}
  </div>
</div>
{% if caption != None %}
<figcaption>{{caption}}</figcaption>
</figure>
{% endif %}
{% endmacro %}
