body {
   font-family:Droid Sans,sans-serif;
   font-size:10.5pt;
   padding:0px;
   margin:0px;
}

h1 { font-family:Helvetica,sans-serif; font-size: 21pt; }
h2 { font-family:Helvetica,sans-serif; font-size: 14pt; }
h3 { font-family:Helvetica,sans-serif; font-size: 12pt; }

a:link    { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:visited { text-decoration:none; }

p {
  text-align: justify;
}

hr {
  border:0px;
  height:1px;
  color:#d3d3d3;
  background-color:#d3d3d3;
}

li {
  margin: 0 0 1.4ex 0;
}

.center { text-align: center; }
.left { text-align: left; }
.column { max-width: 680px; }

#outer {
   margin-top: 0px;
}

#main {
   padding: 10px;
   padding-top:3%;
   padding-left:2%;
}

#links {
  padding-bottom:20px;
}

#links li {
  display: inline;
  list-style: none;
  font-size: 14pt;
  padding: 10px;
}

#footer{
   padding:5px;
   border-top:1px solid #d3d3d3;
   font-size: 9pt;
   color:gray;
}

/* Tables */

table {
  font-size: 9pt;
  display: block;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 0 16px 0 0.4em;
}

th {
  border-bottom: 1px solid #d3d3d3;
  font-size: 9pt;
}

table #processors {
  width:100%;
}

#processors tr {
  border-bottom: 1px solid #EEE;
}

/* Tablesorter */

table.tablesorter thead tr .header {
  background-image: url(images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
  background-color: #CCCCCC;
}

/* Scatter plot */

.plot {
  font-size: 9pt;
  padding-top:10px;
  padding-bottom:16px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  font-size: 9pt;
  position: absolute;
  pointer-events: none;
  background: lightGray;
  padding: 4px;
}

